Options -Indexes
RewriteEngine On
RewriteBase /

# Exclude /ewkethub_shared_assets from redirection
RewriteCond %{REQUEST_URI} ^/ewkethub_shared_assets [NC]
RewriteRule ^ - [L]

# Redirect root URL to public/index.php
RewriteRule ^$ public/index.php [L]

# Redirect all other requests to public/index.php if not a file/directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php [L]