.courses {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.course {
  border-radius: 5px;
  width: 100%;
  max-width: 100%;
  border: 2px solid #484a4b37;
  transition: 0.3s;
}

.course:hover {
  border: 2px solid #00b3ff;
  transition: 0.3s;
  cursor: pointer;
}

.course-image {
  width: 100%;
  border-radius: 5px;
}

.course-text {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.course-author {
  font-size: 14px;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.645);
}

.course-price {
  font-weight: 500;
}

.course-title {
  font-weight: 700;
}

.course-category {
  padding: 5px 8px;
  border-radius: 3px;
  font-size: 13px;
  background-color: #00b3ff;
  color: white;
}
